<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test suite dummy">
	<listeners>
		<listener class-name="com.learnautomation.listeners.ExtentReportListener"></listener>
	</listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="testcases.LoginTest"/>
    </classes>
  </test> 
  
   <test thread-count="5" name="Test2">
    <classes>
      <class name="testcases.Registration"/>
    </classes>
  </test> 
</suite> 
